@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 236, 236);
    font-family: 'Offside', cursive;
    margin: 0 20px;
    margin-top: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 2%
}


nav {
    display: flex;
}

nav ul {
    display: inherit;
    justify-content: space-between;
    min-width: 250px;
    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 24px;
    color:black;
}

a:hover {
    text-decoration: underline;
}

.banner {
    display: flex;
    background-image: url(../images/mike-kononov-lFv0V3_2H6s-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
}

.intro {
    display: inline-block;
    width: 100%;
    padding: 2%;
    background-color: white;
}

.intro-text {
    display: inline-block;
    width:50%;
}
.intro h2 {
    margin-bottom: 15px;
}

.intro-img {
    width: 42%;
    float: right;
    margin: 2%;
}
.content {
    display: inline-block;
    width: 100%;
    padding: 2%;
    
}

.content-text {
    display: inline-block;
    width:50%;
}
.content h2 {
    margin-bottom: 15px;
}

.content-img{
    width: 42%;
    float: left;
    margin: 2%;
}