@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 236, 236);
    font-family: 'Offside', cursive;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 0px 20px;
    margin-top: 20px;
    align-items: center;
    padding: 2%
}


nav {
    display: flex;
}

nav ul {
    display: inherit;
    justify-content: space-between;
    min-width: 250px;
    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 24px;
    color:black;
}

a:hover {
    text-decoration: underline;
}

.banner {
    display: flex;
    background-image: url(../images/mike-kononov-lFv0V3_2H6s-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    margin: 0px 20px;
}